[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# deployment
Flask = "*"
gunicorn = "*"

# science
scipy = "*"
numpy = "*"

# data science
sklearn = "*"
pandas = "*"
afinn = "*"

# google cloud
firebase-admin = "*"
google-cloud-firestore = "*"
google-cloud-storage = "*"

# viz
# plotly = "*"

[requires]
python_version = "3.8"
