[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# utility

# science
scipy = "*"
numpy = "*"

# data science
sklearn = "*"
pandas = "*"
afinn = "*"

[dev-packages]
# google cloud
firebase-admin = "*"
google-cloud-firestore = "*"

# viz
plotly = "*"

[requires]
python_version = "3.8"
