.AppContainer {
  background-color: #ededed;
  display: inline-flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.navBar {
  background-color: #ededed;
}

.navBar ul{
  list-style: none;
}

.navBar li{
  display: inline;
  padding-right: 3em;
  text-decoration: none;
}

.navBar li:visited { text-decoration: none; }
.navBar li:hover { text-decoration: none; }
.navBar li:focus { text-decoration: none; }
.navBar li:hover, .navBar li:active { text-decoration: none; }


/* .App {
  background-color: #ededed;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
